<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav>
    <h1 th:text="${title}">Blackjack</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/rules" target="_blank">Rules</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
</nav>

<p th:text="'Your level is ' + ${user.level}"></p>
<p th:text="'You have ' + ${remainingPoints} + ' points until the next level'"></p>
<p th:text="'You have $' + ${userMoney}"></p>
<br>
<br>
<a href="/play/select">Play game</a>
<!--<p>Which level of gameplay would you like?</p>
<span title="Minimum bet is $0"><a href="/bet/easy">Easy</a></span><br>
<span title="Minimum bet is $50"><a href="/bet/medium">Medium</a></span><br>
<span title="Minimum bet is $100"><a href="/bet/hard">Hard</a></span>-->

</body>
</html>